/* Types of position */


/* 1.Position Relative */


/* 2. Position Static */


/* Position Fixed */


/*3. Position Absolute */


/*4. Position Sticky */


/* top, bottom, left and right */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative {
    background-color: red;
    width: 250px;
    height: 250px;
    position: relative;
    top: -100px;
    left: 400px;
}

.static {
    background-color: blue;
    width: 250px;
    height: 250px;
    position: static;
    top: 200px;
}

.fixed {
    background-color: black;
    width: 300px;
    height: 300px;
    position: fixed;
    top: 0;
}

.relative-absolute {
    background-color: green;
    width: 400px;
    height: 400px;
    position: relative;
    top: 100px;
    left: 20%;
}

body {
    position: relative;
    height: 100vh;
}

#centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: black;
    z-index: 2000;
}

#centered2 {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 40000;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: red;
}

.float-right {
    float: right;
    width: 400px;
    height: 200%;
    background-color:green;
}
.float-left {
    float:inline-start;
    width: 400px;
    height: 200%;
    background-color: green;
}
#hr{
    color: brown;
}
#static{
    height: 58px;
    width: 58px;
    background-color: red;
}
#Absolute{
    height: 58px;
    width: 58px;
    background-color: darkturquoise;
}






